div.articulo {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px
}

.articulo {
    background: rgba(255, 0, 0, 0.1);
}

div.articulo h2 {
    color: #902020;
}